/*Global Styles
--------------------------*/
html {
    box-sizing: border-box;
}

/* html and *, the box-sizing should ALWAYS be in all projects */

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
}
img {
    width: 300px;
}

a {
    color: #FFE66D; /* Changes the color of links (<a href>) to yellow*/
}
a:hover {
    text-decoration: none;  /* Removes the underline if highlihging over link (<a href> element) */
}

.content-wrap {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 0;    /* Pushes all the content inward --> specifically the margin space between colors */
}

h3 {
    margin-bottom: 0;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin: 0;
}

.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px;
}

.divider > section:last-of-type {
    border-bottom: none;
}

/* Profile
--------------------------*/
header {
    background: #5908f0;

}

/* Projects
--------------------------*/
.project {                      /* Any section with a class = "project" will get these changes*/
    background: #9edf79;
    overflow: hidden;
}

    /* Specific to project <a href> links*/
.project a {

}
    /* For the class btn (specifically things we consider a button) within the "project" class*/
.project .btn {
    color: #F7FFF7; /* Makes the color of text */
    background: #2F3061;
    text-decoration: none; /* Removes underline of links (<a href>) */
    padding: 8px;
    border-radius: 4px; /* Rounds out block to make it look like a button */
    display: inline-block; /*Button is inside of padding space */
}

.project a:hover {
    background: rgb(47,48,97, 80%); /* Changes color of <a href> elements when highlighting them*/
}

.project h3 {
    margin-top: auto;
}
/* Work Experience
--------------------------*/
.work-experience {
    background: #ee73bf;
}

/* Education
--------------------------*/
.education {
    background: #f3523d;
    background-image: url("../images/joanna-kosinska-unsplash.jpg");
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}

/* Footer
--------------------------*/
footer {
    background: #403d46;
    padding: 20px 0; 
}

.contact-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.contact-list a {
    padding: 15px;
    display: inline;
}

/* Responsive
----------------------------*/
@media screen and (min-width: 750px){
    header, footer {
        text-align: center;
        color: white;
    }

    .project img {
        float: left;
        margin: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr; /* Since there is two div selectors, the 1fr (represents the class job-item and 2fr (represents job-description)*/
        column-gap: 20px;
    }
}

@media screen and (max-width: 749px) {
    h1 {
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }

    .contact-list a {
        padding: 5px;
    }
}